<div ng-hide='currentUser' class="overlay-info add-margin-top-50" >
  Please
  <a class='btn'
  ng-click="showSignin()" >Sign In</a>to view your stuff
</div>

<div id="my-stuff" class="col-lg-12 col-md-12 col-xs-12"
 ng-controller='MyStuffCtrl' >


    <div class="col-md-12 col-lg-12 col-xs-12"
    active='tabs.myPosts'
    ng-class="tabs.myPosts ?  'tab-clicked' : 'tab-unclicked'"
    ng-click='showtab("myPosts")'>
        <h4> My Posts</h4>

    </div>
    <div ng-include src="'myStuff/myposts.html'"></div>

    <div class="col-md-12 col-lg-12 col-xs-12"
    active='tabs.myPosts'
    ng-class="tabs.myPosts ?  'tab-clicked' : 'tab-unclicked'"
    ng-click='showtab("myPosts")'>
        <h4> My Wants</h4>

    </div>
    <div ng-include src="'myStuff/mywants.html'"></div>

  <hr>
</div>

<div class="col-lg-12 col-md-12 col-xs-12" ng-class="!currentUser ? 'overlay-active' : 'overlay-inactive' ">
</div>
