<div class="row to_edge" ng-repeat="item in myWants | orderObjectBy:'updated_at':true track by $index" >
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mystuff-row">
    <img class="img-responsive center-y" ng-src={{item.image_url}}></img>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-padding">
    <div class="mystuff-half-row">
     <div class='pull-left center-y'>{{item.title}}</div>
      <a href="#" ng-click='item.goToDetails()' class='pull-right center-y item-details-link' >
      Item details &gt;&gt;
      </a>
    </div>
        
    <mywantsbtn post="item"></mywantsbtn>
  </div>
  <chat log='item.chat' user='item.currentUser' class='chat'></chat>
</div>
