<p> Hi <%= @user.first_name %>, </p>

<p> Congratulations on your latest dib! Now it's time to initiate contact with the lister. After you've dibbed something, you have thirty minutes to initiate contact with the lister or the item will automatically become available to dib. It's just a way for us to make sure that dibbers are serious about their dibbing. </p>
<p> Follow the link below to initiate contact! </p>


<p><%= link_to @in_app_chat,
	@in_app_chat %>. </p>

<p>Thanks for using  Stuffmapper!</p>
