<div id="get-stuff" ng-controller="GetStuffCtrl" >
  <div class='col-lg-6 col-md-6 col-xs-6'>
    <select class="form-control" id="category" placeholder="Category"
    ng-model="post.category" >
      <option value="" disabled selected>All Categories</option>
      <option>Arts &amp; Crafts</option>
      <option>Books, Games, Media</option>
      <option>Building &amp; Garden Materials</option>
      <option>Clothing &amp; Accessories</option>
      <option>Electronics</option>
      <option>Furniture &amp; Household</option>
      <option>General</option>
      <option>Kids &amp; Babies</option>
      <option>Recreation</option>
    </select>
  </div>
  <div class="col-lg-6 col-md-6 col-xs-6">
    <input type="text" class="form-control search-input" id="description">
        <span class="glyphicon glyphicon-search search-magnify"
        aria-hidden="true"></span>
    </input>
  </div>
  <br>
  <br>

   <div
   ng-repeat="item in markers | orderObjectBy:'updated_at':true track by $index" >

     <div ng-include src="'misc/marker.html'"></div>
   </div>

   <div class="menu-toggle">
     <span ng-click='menuToggle()'
     class="glyphicon glyphicon-chevron-down"
     aria-hidden="true"
     ng-hide='toggle'></span>
     <span ng-click='menuToggle()'
     class="glyphicon glyphicon-chevron-up"
     aria-hidden="true"
     ng-show='toggle'>
     </span>
   </div>

</div>
