<div >
   <div class='col-lg-12 col-md-12 col-xs-12 search-bar'>
    <div class='col-lg-6 col-md-6 col-xs-6 to-edge'>
      <select class="form-control" id="category" placeholder="Category"
        ng-model="search.category"
        ng-change="updateGetStuff()"
       >
        <option ng-repeat="category in categories">{{category}}</option>
      </select>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-6 to-edge">
      <input type="text" class="form-control search-input" id="description">
          <span class="glyphicon glyphicon-search search-magnify"
          aria-hidden="true"></span>
      </input>
    </div>
  </div>
  <div id="get-stuff" class='col-lg-12 col-md-12 col-xs-12 to-edge'>
     <div ng-repeat="item in mapped" >
       <div ng-include src="'misc/marker.html'"></div>
    </div>
  </div>
</div>
