<div class='to-edge give-container'>
  <div ng-hide='currentUser()' class='overlay-info' >
    Please <a class='btn' ng-click="showSignin()" >sign in</a> to give stuff
  </div>

  <div id="give-stuff" class="col-lg-12 col-md-12 col-xs-12 to-edge">


    <div class="col-lg-12 col-md-12 col-xs-12"
     ng-class="loading || !currentUser() ? 'overlay-active' : 'overlay-inactive' ">
    </div>

    <div id='give-1' class='add-margin-top-15'>
      <div class="col-lg-12
        col-md-12 col-xs-12 text-0">
         <h4 class='text-0-bold'> Is your location correct? </h4>
         <p><span> This is where your stuff will show up on the map. If the pickup
           location is somewhere else, move the</span> <img class='emoji-size' ng-src='<%= asset_path('pin.svg')%>' >
          <span class='text-1'>pin</span><span> to where you want to map the item. </span> </p>
      </div>

      <div class="col-lg-12 col-md-12 col-xs-12 add-margin-top-15"></div>
      <div class='col-lg-4 col-sm-hide col-md-hide to-edge btn stuff-btn gray-btn'
       ng-click='centerMap()'>
        <span class="glyphicon glyphicon-screenshot"
          aria-hidden="true"></span><span> Find my Location</span>
      </div>

      <button class='btn col-lg-8 col-md-12 col-xs-12  stuff-btn
        green-btn' >
           <span>It's correct! Let's add a photo >> </span>
           <input class='file-btn' id="give-stuff-file-1" type="file" file-upload accept="image/*">
      </button>
    </div>
  </div>
</div>
