<div id="header">
  <h1 id="logo" />
</div>

<body class= "beta-site">

	<div class="policy">
	<h4>Senior Developer wanted</h4>
	<br>
	<p>Do you want to build software that has a positive impact on the environment? </p>

	<p>Do you enjoy the creative freedom of startups? </p>

	<p>22-month-old Stuffmapper is looking for a Senior Developer to help build and scale our platform. You’ll architect and write a lot of new code, be involved in the hiring and mentoring of junior developers, and create a product that supports the movement that will change the way people reduce and reuse items at scale. We’re Seattle-based, but don’t always work out of a central location. We’re looking for someone who can take ownership of the code (and also delegate to junior devs).</p>
	<br>
	<h4>Required</h4>

	<ul><li>Relevant industry experience of 4+ years</li><li>Experience working on a large scale web app</li><li>One modern object oriented language like Ruby,  Python, or Java</li><li>Familiar with front end frameworks</li><li>JavaScript</li><li>HTML5/CSS3</li><li>Full stack - We’re a startup and you’ll probably need to do a little bit of everything</li><li>Knowledge of database design</li><li>A testing philosophy that involves writing tests</li><li>A previous role that involved mentoring junior devs/experience in the hiring process  -Ability to solidify requirements and bridge the gap between technical and non-technical.</li><li>A hunger to constantly improve your abilities and a desire to build up those around you</li><li>Demonstrated knowledge related to the tradeoffs between performance and scale</li><li>Able to regularly meet up for in-person meetings in Seattle</li><li>Must be legally allowed to work in the U.S.A.</li></ul>
	<br>
	<h4>Preferred</h4>

	<ul><li>Ruby on Rails</li><li>Bootstrap</li><li>Experience Ionic or Cordova</li><li>Amazon Web Services</li><li>Google Maps API</li><li>Testing frameworks: Minitest, Rspec, Cucumber, Jasmine</li><li>Angular.js</li><li>Node.js</li><li>Automated testing/continuous integration</li><li>BS or MS in Computer Science or related field (or equivalent) and 5+ years of experience</li><li>Excellent communication skills required</li><li>Experience and comfortable working on small teams, with a high degree of autonomy; highly self-motivated</li></ul>
	<br>
	<h4>Compensation</h4>

	<ul><li>DOE, competitive</li></ul>
	<br>
	<p>Send inquiries to stuffmapper@gmail.com</p>

	</div>
</body>