<div id="header">
  <h1 id="logo" />
</div>
<body class="beta-site">
	<div class="policy">
		<div class='support-message'>
			<%= raw(t( 'support_message', email: mail_to('stuffmapper@gmail.com')))   %>
		</div>
	</div>
</body>