---
http_interactions:
- request:
    method: post
    uri: https://mandrillapp.com/api/1.0/messages/send-template.json
    body:
      encoding: UTF-8
      string: '{"template_name":"dibber-notification","template_content":[{"name":"blank","content":""}],"message":{"html":null,"text":null,"subject":null,"from_email":"support@stuffmapper.com","from_name":"support@stuffmapper.com","to":[{"email":"superbad84@email.com","name":"John
        Doe"}],"headers":null,"important":true,"track_opens":true,"track_clicks":true,"auto_text":true,"auto_html":false,"inline_css":true,"url_strip_qs":true,"preserve_recipients":false,"view_content_link":false,"bcc_address":null,"tracking_domain":null,"signing_domain":null,"return_path_domain":null,"merge":false,"merge_language":null,"global_merge_vars":[{"name":"FIRSTNAME","content":"John"},{"name":"CHATLINK","content":"http://localhost:7654/user/chat/2"},{"name":"MYSTUFFLINK","content":"http://localhost:7654/#/menu/mystuff"},{"name":"ITEMIMAGE","content":"missing"}],"merge_vars":[],"tags":null,"subaccount":null,"google_analytics_domains":null,"google_analytics_campaign":null,"metadata":null,"recipient_metadata":null,"attachments":null,"images":null},"async":null,"ip_pool":null,"send_at":null,"key":"eecqPlsFBCU6tPAyNb6MLg"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"email":"superbad84@email.com","status":"sent","_id":"81fd4d73a06847f0bc405ec9ded99570","reject_reason":null}]'
  recorded_at: Mon, 07 Dec 2015 22:51:55 GMT
[...]
