$darkblue: #445d75; /* navbar */
$black: #5e5e5e; /* stuff header background */
$purple-button: #784b87; /* give stuff button */
$turquoise: #a7e3ee; /* camera button */
$turqblue: #6b8598; /* camera outline */
$bluedot: #037fc2; /* blue dot */
$green: #4fd67b; /* letter */
$white: white; /* letter */
$lightgray: #D3D3D3;

$green: #4Ab29C;
$grey: #555;
$blue: #0077BA;

/*** heights ***/

$navheight: 40px;
$map-1-2-height:100px;

$menu-0-height:375px;
$menu-1-height:200px;
$menu-2-height:160px;

$mystuff-row:120px;

$tabheight:40px;

$chat-container-height: 300px;
$chat-send-bar-height: 34px;

/*** Z-INDEXS ***/

$z-0: 0;
$z-1: 10;
$z-2: 20;
$z-3: 30;
$z-4: 40;
$z-5: 50;
$z-6: 60;
$z-7: 70;
$z-8: 80;
$z-9: 90