  <body ng-app="stfmpr" ng-controller="MainNavCtrl as mainnav">
    <div ui-view ></div>
    <script type="text/javascript">
    var _sf_async_config={uid:57522,domain:"stuffmapper-dev.herokuapp.com",useCanonical:true};
    
    </script>
  <script type="text/javascript" src="http://assets.freshdesk.com/widget/freshwidget.js"></script>
  
</body>
