
<div class="row col-md-12 edit-stuff">
 <hr>
  <h3>Edit Post</h3>
  <form id="give-stuff-form">
     <div class="row col-md-12">
      <img class="stuff-map-image" src={{stuff.image_url}} ></img>

     </div>
     <br>

     <div class="row col-md-12">
        <button class= "center btn btn-default" ng-hide='stuff.published ' ng-click="publish(true)">Publish</button>

        <button class= "center btn btn-default" ng-show='stuff.published' ng-click="publish(false)">Depublish</button>

      </div>
      <div class="row col-md-12">
        <ul>
          <li><b>Poster: </b>
            <span>{{stuff.creator}}</span>
          </li>

          <li><b>Published: </b>
            <span>{{stuff.published}}</span>
          </li>

          <li><b>Available: </b>
            <span>{{stuff.dibbable}}</span>
          </li>


        </ul>
      </div>




    <div class="form-group">

      <select class="form-control" id="category" placeholder="Category" ng-model="stuff.category" >
        <option>Stuff</option>
        <option>Other Stuff</option>
        <option>More Stuff</option>
        <option>Best Stuff</option>
      </select>
     
     </div>

    <div class="form-group"> 
      <input type="text" class="form-control" id="description" placeholder="Describe this stuff (you can use #tags)" ng-model="stuff.description">
    </div>

    <div class="checkbox">
      <label><input type="checkbox" id="on_the_curb" name="on_the_curb" ng-model="stuff.on_the_curb" value='' >This item is on the curb/outside/unattended by me </label>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" ng-click="updateStuff()">Update</button> 
      <button class= "btn btn-default" ng-click='close()'>Cancel</button>
    </div>

   
  </form>
  <hr>
</div>

