
<div ng-hide='currentUser' class='overlay-info add-margin-top-50' >
  Please <a class='btn' ng-click="showSignin()" >sign in</a> to give stuff

</div>
<div ng-show="loading" class="col-lg-12 col-md-12 col-xs-12 overlay-info">
  <div class="col-lg-10 col-md-10 col-xs-10" ><h5>Uploading Photo</h5>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar"
      aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-xs-2 " >
    <canvas id="loading-thumbnail" ></canvas>
  </div>
</div>
<div id="give-stuff" class="col-lg-12 col-md-12 col-xs-12 scroll-y">

  <div class="col-lg-12 col-md-12 col-xs-12" ng-class="loading || !currentUser ? 'overlay-active' : 'overlay-inactive' ">
  </div>

    <p ng-hide='attached'> Take a picture of the stuff that you want to give </p>
    <p ng-show='attached'> Now enter some details, check the location on the map and press the "Give this Stuff!" button </p>
    <form id="give-stuff-form">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="form-group col-md-6">

        <div id="give-stuff-file-container" class='btn'>

          <span ng-hide='attached' class="glyphicon glyphicon-camera" aria-hidden="true"></span>
          <span class='attached-text' ng-show='attached'><h4>Change</h4><h4> Photo</h4></span>

           <input type="file" id="give-stuff-file" file-upload accept="image/*">


        </div>
      </div>

      <div class="col-md-6" id="upload-file-names" >
        <canvas id="sm-thumbnail" ></canvas>
      </div>

    </div>


    <div class="form-group col-md-12 row">

      <select class="form-control" id="category" placeholder="Category" ng-model="post.category" >
        <option value="" disabled selected>Choose a category</option>
        <option>Arts &amp; Crafts</option>
        <option>Books, Games, Media</option>
        <option>Building &amp; Garden Materials</option>
        <option>Clothing &amp; Accessories</option>
        <option>Electronics</option>
        <option>Furniture &amp; Household</option>
        <option>General</option>
        <option>Kids &amp; Babies</option>
        <option>Recreation</option>
      </select>

    </div>

    <div class="form-group col-md-12 row">
      <input type="text" class="form-control" id="description" placeholder="Describe this stuff (you can use #tags)" ng-model="post.description">
    </div>

    <div class="checkbox col-md-12 row">
      <label><input type="checkbox" id="on_the_curb" name="on_the_curb" ng-model="post.on_the_curb" value='' >This item is on the curb/outside/unattended by me. </label>
    </div>

    <div class="form-group col-md-12 row">
        <button class="btn" id="give-stuff-submit" ng-click="submitPost()">Give this stuff!</button>
    </div>
  </form>
</div>
