<div  ng-include src="'navbar.html'"></div>


<div ng-controller='StuffCtrl'>
  <div class="overlap full-height"  >
    <div class="row percent-padding"></div>

    <div class="col-md-4 col-lg-4
    col-sm-4 col-xs-12
    col-sm-offset-8
    col-md-offset-8
    col-lg-offset-8
    stuffmapper-menu"
    ng-class="toggle ? 'toggle' : menuHeight "
    >

      <ul class="sm-tabs">


        <li class="col-md-4 col-lg-4 col-xs-4"
        active='tabs.getStuff'
        ng-class="tabs.getStuff ?  'tab-clicked' : 'tab-unclicked'">
          <div class="menu-toggle">
            <span ng-click='menuToggle()'
            class="glyphicon glyphicon-chevron-down"
            aria-hidden="true"
            ng-hide='toggle'></span>
            <span ng-click='menuToggle()'
            class="glyphicon glyphicon-chevron-up"
            aria-hidden="true"
            ng-show='toggle'>
            </span>
          </div>
          <a href='#' ng-click='getStuff()'>
            <h4>Get Stuff</h4>
          </a>
        </li>

        <li class="col-md-4 col-lg-4 col-xs-4"
        active='tabs.giveStuff'
        ng-class="tabs.giveStuff ?  'tab-clicked' : 'tab-unclicked'">
          <a href= '#' ng-click='startMapper()'>
            <h4>Give Stuff</h4>
          </a>
        </li>
        <li class="col-md-4 col-lg-4 col-xs-4"
        ng-class="tabs.myStuff ?  'tab-clicked' : 'tab-unclicked'" >
          <a href="#" ng-click='getMyStuff()'>
            <h4>My Stuff</h4>
          </a>
        </li>
        <alerts></alerts>
      </ul>

      <div ng-show='tabs.getStuff'
      class='content scroll-y' ng-include src="'getstuff.html'"></div>
      <div ng-show='tabs.giveStuff'
       class='content give-stuff' ng-include src="'givestuff.html'"></div>
      <div ng-show='tabs.myStuff'
      class='content scroll-y'ng-include src="'mystuff.html'"></div>
      <div ng-show='tabs.details'
      class='content scroll-y'ng-include src="'details.html'">
      </div>
      <div ng-show='tabs.editing'
      class='content scroll-y'ng-include src="'edit.html'">
      </div>


  	</div>
  </div>

  <div class="container-fluid" id="map-container"  >
    <map id="google-map-container" center={{mapCenter}} zoom="12" >
    </map>
  </div>

</div>
