
<div class="container overlap"  >

	<div class="col-md-4 col-md-offset-8 modal-body" id="stuffmapper-menu"> 
  <alerts></alerts>
	

  <tabset>

     <tab heading="Get Stuff" disabled="tab.disabled" >
        <div ng-repeat="item in stuff track by $index" class="col-md-3 clearfix" >
        <img class="img-thumbnail stuff-image" src="{{item.image_url}}"></img> 
        <a href="post/{{item.id}}">more details </a>
        <button class= "btn btn-default" ng-click="giveMe(item.id)">I want it</button>            
        </div>
     </tab>

     <tab heading="My Stuff" disabled="tab.disabled" ng-click="getMyStuff()">
      <div class="container-fluid col-md-12" id="my-stuff-container">
        <div ng-repeat="stuff in mystuff track by $index" class="col-md-3 clearfix" >
        <img class="img-thumbnail col-md-3 stuff-image" src="{{stuff.image_url}}"></img>
        <div class="col-md-6">
         <p>{{stuff.description}}</p>
         </div>
        <button class= "btn btn-default" >I don't want it</button>    
              
        </div>
      </div>
     </tab>



    <tab heading="Give Stuff" disabled="tab.disabled" ng-click="startMapper()">
        <p> Take a picture of the stuff that you want to give </p>
        <form id="give-stuff-form">

         <div class="form-group">
           <input type="file" id="give-stuff-file" file-upload />
           <ul>
              <li ng-repeat="file in files">{{file.name}}</li>
            </ul>
         </div>

        <div class="form-group">

          <select class="form-control" id="category" placeholder="Category" ng-model="post.category" >
            <option>Stuff</option>
            <option>Other Stuff</option>
            <option>More Stuff</option>
            <option>Best Stuff</option>
          </select>
         
         </div>

        <div class="form-group"> 
          <input type="text" class="form-control" id="description" placeholder="Describe this stuff (you can use #tags)" ng-model="post.description">
        </div>

        <div class="checkbox">
          <label><input type="checkbox" id="on_the_curb" name="on_the_curb" ng-model="post.on_the_curb" value='' >This item is on the curb/outside/unattended by me </label>
        </div>

      <div class="form-group">
          <button class="btn btn-primary" ng-click="submitPost()">Submit</button>
      </div>

   
    </form>


     
    </tab>
  

  </tabset>
 

	</div>

</div>
