
<div class="modal-header">
   <h3 class="modal-title pull-left">Dibber Chat</h3>
   <div class="btn close-x pull-right clearfix" ng-click="cancel()">×</div> 
   <br>
</div>

<div class="modal-body">
  <accordion close-others='true'>
  
    <accordion-group ng-repeat="conversation in inbox track by $index" class="conversation-container" >

      <accordion-heading  >
        <div class='col-md-12' ng-click="getMessages(conversation.id)">
          <div class='inbox-conversation-subject'>
            <div class='col-md-3 pull-left'>
               <img ng-src={{conversation.conversable.image_url}} class='img-responsive'></img> 
            </div>

            <div class="col-md-6 pull-left">
              <p> {{conversation.conversable.description }}</p>
            </div >

            <div class="col-md-3 pull_right">
              <ul>
                <li>published</li>
                <li>dibbed</li>
                <li>gone</li>
              </ul>
            </div>

          </div>
        </div>
      </accordion-heading> 


      <div class="converation-messages">
        <div ng-repeat="message in messages[conversation.id]" class="clearfix" >
          <p>{{message.sender}}: {{message.body}} </p>
        </div>
      </div>
     

      <div class="form-group">
        <input type="text" class="form-control" id="message_response" placeholder="reply" ng-model="reply_message[conversation.id].body">
      </div>
      <button class= "btn btn-default" ng-click="postReply(conversation.id)" >Send</button>
    </accordion-group>
  </accordion>
</div>




