<nav class="col-md-12 col-lg-12 col-xs-12" id="main-navbar">
  <alerts></alerts>
  <ul id="main-navbar-right">
    <li id="main-nav-toggle" ng-click='toggle = !toggle' >
      <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
    </li>
    <li class="full-nav-item" ng-hide="currentUser()" ><a href='/beta#' ng-click="showSignup()" >Sign Up</a></li>
    <li class="full-nav-item" ng-hide="currentUser()"><a href='/beta#' ng-click="showSignin()"  >Sign In</a></li>
    <li class="full-nav-item" ng-show="currentUser()"><a href='/beta#'ng-click="showLogout()" >Sign Out</a></li>
    <li class="full-nav-item" ng-show="currentUser()"><a ui-sref='user' >{{ currentUser() }}</a></li>
     <li class="full-nav-item" ><a ui-sref='user' >{{ alerts() }}</a></li>

    <div ng-show="toggle">
      <li class="collapse-nav-item" ng-hide="currentUser()" ng-><a href='/beta#' ng-click="showSignup()" >Sign Up</a></li>
      <li class="collapse-nav-item" ng-hide="currentUser()" ><a href='/beta#' ng-click="showSignin()" >Sign In</a></li>
      <li class="collapse-nav-item" ng-show="currentUser()"><a ui-sref='user' >{{ currentUser() }}</a></li>
      <li class="collapse-nav-item" ng-show="currentUser()"><a href='/beta#' ng-click="showLogout()" >Sign Out</a></li>
    </div>
  </ul>
</nav>
