
<div class="col-lg-12 col-md-12 col-xs-12  post-details ">
 <hr>
   <a href='#' ng-click='close()'>Back to results</a>

     <div class="col-lg-12 col-md-12 col-xs-12 row  individual-post">
       <a ng-href="{{stuff.originalImage}}" >
         <img class="img-responsive" src={{stuff.image_url}} ></img>
      </a>

     </div>
     <br>


      <div class="col-lg-12 col-md-12 col-xs-12 row " >
        <ul id='show-post'>
          <li><b>Poster: </b>
            <span>{{stuff.creator}}</span>
          </li>

          <li><b>Published: </b>
            <span>{{stuff.published}}</span>
          </li>

          <li><b>Description: </b>
            <span>{{stuff.description}}</span>
          </li>
        </ul>
          <dib post="stuff.id" ng-show="stuff.dibbable"></dib>
          <button class= "btn-xs btn-default" ng-click='editing = !editing' ng-show="currentUser == stuff.creator">Edit</button>
          <edit post="stuff.id" stuff="stuff" markers="markers" editing=editing ng-show=editing  ></edit>
         <hr>
      </div>

</div>
