
<div id="show-post">
  <div class="modal-header">
  <alerts></alerts>
  </div>

  <div class="modal-body" >

    <div class="col-md-12 " >
    	<img class="img-thumbnail stuff-image" src="{{post.image_url}}"></img> 
	    <div class="col-md-12 "> 

	    <p>{{post.description}}</p>
	    <p>This is a permalink that we can use for facebook or other sources. What other features should be here? ratings etc 
	    </p>

	    </div> 
          <dib post=post.id></dib>
	 </div>
           


  </div>

</div>