
<div id="show-post">
  <div class="modal-header">
    <alerts></alerts>
  </div>

  <div class="modal-body" >

    <div class="col-md-12 " >
      <div class="image-details-wrapper">
        
        <img class="stuff-image" src="{{post.image_url}}"></img> 

      </div>

	    <div class="col-md-12 "> 
        <ul>
          <li><b>Poster: </b>
            <span>{{post.creator}}</span>
          </li>

    	    <li><b>Description: </b>
            <span>{{post.description}}</span>
          </li>
          <li><b>Available: </b>
            <span>{{post.dibbable}}</span>
          </li>


        </ul>
	    </div> 

      <div class="col-md-12 "> 
        <undib post="post.id" mystuff="stuff" ng-hide="currentUser == post.creator"></undib> 
        <button class= "btn-xs btn-default" ng-click='editing = !editing' ng-show="currentUser == post.creator">Edit</button>
    
        <edit post="post.id" stuff="post" editing=editing ng-show=editing  ></edit>
      </div>
    </div> 
           


  </div>

</div>