
<div id="sign-in-form">
<div class="modal-header">
<h3 id="signin" class="modal-title">Sign In</h3>
<div class="signin">
    <a id="facebook" href='#' class="btn btn-primary" ng-click="oaLogin('facebook')">Facebook Signin</a>
    <a id="google" href='#' class="btn btn-primary" ng-click="oaLogin('google_oauth2')">Google Signin</a>
</div>
<alerts></alerts>
</div>
<div class="modal-body">


 <form >

  <div class="form-group">
 
    <label for="username">Username or Email *</label>
    <input type="text" class="form-control" id="username" placeholder="Username" ng-model="username">
  </div>

  <div class="form-group">
    <label for="password">Password *</label>
    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
  </div>


</div>
<div class="modal-footer">
    <label id="signup"><a href="#" ng-click="notSignUp()">Sign-up?</a></label>
    <button id="signin-bottom" class="btn btn-primary" ng-click="signin()">Sign In</button>
    <button id="cancel" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button id="forgot" class="btn btn-primary" ng-click="resetPW()">Forgot Password?</button>
</div>
</form>
</div>
