<div class="container-fluid">
  <div class="modal-body col-lg-8 col-md-8 col-xs-12
  col-lg-offset-2 col-md-offset-2  add-margin-top-50">

    <p> Welcome to StuffMapper! Please check your email and follow the instructions to verify.
      Once you've verified your email, you'll be able to post items and dib items that others have posted.
      Thanks for signing up and we hope that you  enjoy the site!</p>
      <br>
      <a class='btn primary' ng-click="showSignin()" >Sign In</a>
  </div>
</div>
