/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

/* html labels */

@import "bootstrap-sass-official/assets/stylesheets/_bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap";

$darkblue: #445d75; /* navbar */
$black: #5e5e5e; /* stuff header background */
$purple-button: #784b87; /* give stuff button */
$turquoise: #a7e3ee; /* camera button */
$turqblue: #6b8598; /* camera outline */
$bluedot: #037fc2; /* blue dot */
$green: #4fd67b; /* letter */
$white: white; /* letter */

/*** Helper ***/
.close-x{
	border-radius:100%;
	border-bottom: $black 3px solid;
	border-right: $black 1px solid;
	border-left: $black 2px solid;
	border-top: $black 2px solid;

}

/**** Navbar ****/

nav{
	z-index: 3;
}

#main-navbar{
	background: $darkblue;
	height:40px;
}

#main-navbar-right{
	float:right;
	list-style:none;
	li{
		display:inline-block;
		float:right;
		margin-right:10px;
		a{
			display: block;
			margin-top:8px;
			style:none;
			color: $white;
			font-size:1.3em;
		}
	}
	.collapse-nav-item{
		display:none;
	}
	#main-nav-toggle{
		color:$white;
		font-size:1.3em;
		margin:5px;
		display:none;
		}
	#inbox{
		width:28px;
		height:28px;
		margin:5px 80px 0 0;
		padding:5px 4px 4px 4px;
		border-radius:100%;

		color: $green;
			.glyphicon{
				background:$purple-button;
			}
		}		
}


/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	#main-navbar-right{
		#main-nav-toggle{
			display:inline-block;
		}
		.full-nav-item{
			display:none;

		}
		.collapse-nav-item{
			width:100%;
			padding:5px 15px 5px 15px;
			border-top: $black solid 2px;
			display:inline-block;
			clear:both;
			background: $darkblue;
			height:40px;
			a{
				margin-top:auto;
				display:block;
				style:none;
				color: $white;
				font-size:1.3em;
			}
		}
	}


}

	



/**** STUFFMAPPER ****/


#show-stuffmapper-menu{
	position:absolute;
	margin-top:-10px;
	bottom: 5px;
	right: 5px;
	z-index: 2;
}
#hide-stuffmapper-menu{
	position:absolute;
	margin-top:-10px;
	left: -1px;
	font-size:.7em;
	width:25px;
	padding:0;
	top: 55px;
	z-index: 2;
}

#stuffmapper-menu{

	border-radius: 5px;
    position:absolute;
    z-index: 2;
    background: $white;
    bottom: 0;
    top: 55px;
    font-size: 1.2em;
    right:0;
    min-width: 400px;
    padding:0;
    overflow-y: auto;
    .tab-content{
      padding:18px;
      background: $white;
      width: 100%;
    }
    .nav-tabs{
      background: $black;
      	a{
        color: $white;
        font-size: 1.5rem;
        }
      li{
      	width:32%;
      }
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.hover > a {
    	color: $black;
    }

}


.stuff-image{
	max-width: 120px;
}
.stuff-view{
	display:inline-block;
	float:left;
	margin-top:5px;
	min-height: 145px;
}
.stuff-image-container{
	min-height:104px;
	float:left;
}
.stuff-description{
	float:left;
	margin-bottom:-90px;
	max-height: 90px;
	padding:5px;
	position:relative;
	z-index: 4;
	color:white;
	background:rgba(0,0,0,.5);
	overflow:hidden;

}
.edit-stuff{
	clear:both;
}

/*** GIVE STUFF ***/

#give-stuff-file-container{
	float:left;
	margin:15px 0;
	border-radius:10px;
	height:75px;
	padding-top:13px;
	width: 100px;
	overflow:hidden;
	background:$turquoise;
	border: solid 3px $turqblue;
	position:relative;
	#give-stuff-file{
		position:relative;
		height:110px;
		width:110px;
		padding: 20px;
		margin-top:-55px;
		margin-left:-10px;
		opacity: .01;
		z-index: 5;
	}
	.glyphicon{
		font-size:40px;
		color:$turqblue;
	}

}
#give-stuff-submit{
	background-color:$purple-button;
	color: $white;
	font-size: 1.5rem;
	width: 95%;
	margin: 20px 2.5%;
}

@media (min-width: 1000px) {
	.stuff-image-container{
		max-height:104px;
		float:left;
	}

}
@media (max-width: 768px) {
	#stuffmapper-menu{
		top: initial;
		min-width: 100%;
		left: 0px;
		bottom: -20px;
		height:400px;
	}
	#google-map-container{
		height:40%;
	}
}
@media (min-width: 768px) {
#google-map-container{
	height:100%;
	}
#hide-stuffmapper-menu{
	display:none;
	
}
}

/**** MAPS ****/
#google-map-container {        
 								width: 100%;
<<<<<<< HEAD
 								margin-left: 0px;
 								margin-right: 0px;
 								margin-bottom: 0px;
 								margin-top: 35px;
=======
 								height: 100%;
 								margin-right: 0px;
 								margin-left: 0px;
 								margin-bottom: 0px;
 								margin-top: 50px;
>>>>>>> 9c06b5f140d0556d96ba7304b6e2e3c540c11d6c
 								top: 0px; 
 								left: 0px;
 								overflow: hidden;
 								position: absolute;
 								background-color: rgb(229, 227, 223);
 								z-index: 1;
 								}



.stuff-map-image{
	max-width:150px;
}
/*** ALERTS ***/

.alert{
	position:relative;
	z-index:6;
}

/*** validator ***/
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

/*** optional ***/
#option {
	color: gray;
}

/*** SignUp ***/
#signup {
	float: left;
}

/*** Login ***/
.signin {
	width: 45%;
	margin-left: 50%;
	overflow: hidden;
}

#google {
	margin-right: 3%;
	float: right;
	width: 44%;
	overflow: hidden;
}

#facebook {
	float: right;
	width: 53%;
	overflow: hidden;
}

form {
	overflow: hidden;
}

#signin {
	float: left;
}

#signin-bottom, #cancel {
	width: 15%;
	margin-right: 0.5%;
	overflow: hidden;
}

#forgot {
	width: 25%;
	margin-right: 0.5%;
	overflow: hidden;
}


/*** POST ***/
#show-post{
	position:relative;
	z-index:6;
	background:white;
	margin: 20px;
	width:500px;
	height:600px;
}





 								