/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#top-nav, #left-nav, #bottom-nav {
    z-index: 10;
    position: fixed;
}

#left-nav {
    z-index: 20;
    top: 0px;
}

#top-nav {
    display: block;
    left: 50%;
    top: 0px;
    margin-left: -318px;
    width: 636px;
    height: 92px;
    background-color: #fff;
    padding: 14px 18px 0px 18px;

    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#top-logo img {
    width: 280px;
}
#search-form-current-city {
    float: right;
}
#search-form {
    display: block;
}

#city-term {
    width: 275px;
}

.left-button {
    background-size: 44px 130px;
    width: 44px;
    height: 130px;
    display: inline-block;
    position: absolute;
    z-index: 10;
}

.left-button:hover {
    cursor: pointer;
}

#find-stuff-button {
    background-image:url("/assets/findStuffOn.png");
    top: 130px;
}

#find-stuff-button:hover {
    background-image: url("/assets/findStuffOff.png");
}

#what-stuff-button {
    background-image:url("/assets/whatStuffOn.png");
    top: 248px;
}

#what-stuff-button:hover {
    background-image: url("/assets/whatStuffOff.png");
}

#give-stuff-away-button {
    background-image:url("/assets/giveStuffOn.png");
    top: 388px;
}

#give-stuff-away-button:hover {
    background-image: url("/assets/giveStuffOff.png");
}

#my-stuff-button {
    background-image:url("/assets/myStuffOn.png");
    top: 504px;
}

#my-stuff-button:hover {
    background-image: url("/assets/myStuffOff.png");
}


#bottom-nav {
    height: 44px;
    padding: 10px;
    bottom: 0px;
    background-color: #fff;
    width: 100%;
    padding: 6px 24px;
}

#download-app {
    left: -189px;
    margin-left: 50%;
    position: fixed;
}

#social-pins {
    float: right;
    margin-right: 40px;
}

.social-pin img {
    height: 40px;
    margin-right: 10px;
}

#main-container {
    margin: 100px 0px 100px 100px;
}

#more-stuff {
    margin-left: 40px;
}