factories = angular.module('factories')
factories.factory('MarkerService', [ '$http', '$resource','$rootScope'
  ($http, $resource, $rootScope )->
    Marker = $resource('/api/posts/:id', id:'@id' )
    markers: {}

    createMarker: (value, key, map)->
       self = this
       latLng =  new google.maps.LatLng(value.latitude ,value.longitude)
       options =
         zoom: 4
         center:latLng
       value.marker = new google.maps.Marker(
        icon: '<%= asset_path('blue-circle.png')%>',
        position: latLng,
        map: map,
        title: value.description )
       value.visible = true
       value.updated_at = new Date(value.updated_at)
       value.locallyUpdated = Date.now()
       self.markers[value.id] = value
       google.maps.event.addListener(value.marker, 'click',->
         $rootScope.$broadcast( 'detailsWanted', { markerId: value.id })
       )
    updateMarker: (id, origin, callback)->
      self = this
      Marker.get( {id:id} )
        .$promise.then((post)->
          if post.post.originalImage =='missing'
            if $scope.markers[id]
              post.post.originalImage = $scope.markers[id].originalImage
              post.post.image_url = $scope.markers[id].image_url
            else
              post.post.originalImage = '<%= asset_path('processing.png')%>'
              post.post.image_url = '<%= asset_path('processing.png')%>'
          if !self.markers[id]
            self.markers[id] = post.post
            self.createMarker(post.post, post.id, self.map)
          else
            post.post.updated_at = new Date(post.updated_at)
            angular.extend(self.markers[id], post.post )
          if origin != 'marker'
              google.maps.event.trigger(self.markers[id].marker, 'click')
          callback())

    updateWindow: (id)->
      self = this
      marker = self.markers[id]
      innerContent = "
        <div >
          <div id='siteNotice' class='stuff-map-image'></div>
            <img src=" + marker.image_url + " width='200px' ></img>
            <div id='bodyContent'>
              <p>" + marker.description + "</p>
            </div>
          </div>
        </div>"
      if !marker.description
        marker.description = ""
      if !marker.infowindow
        infowindow = new google.maps.InfoWindow(content: innerContent)
        marker.infowindow = infowindow
      else
        marker.infowindow.setContent(innerContent)
   	setMap:(map)->
         self = this
         self.map = map
])
