<div ng-show='post.showEdit()' class="btn-group pull-right settings" dropdown is-open="status.isopen">
 
  <button id="settings-dropdown" type="button" class="btn settings-btn" dropdown-toggle ng-disabled="disabled">
    Settings&nbsp;&nbsp;<span class="glyphicon glyphicon-cog"></span>
  </button>

  <ul class="dropdown-menu settings-dropdown" role="menu" aria-labelledby="settings-dropdown">
    <li role="menuitem" ng-if='post.showEdit()' >
      <button class='setting-option-btn mark-as-picked-up' 
       ng-click='post.markGone()'>
        Mark As Picked Up
      </button>
    </li>
    <li role="menuitem" ng-if='post.showWanted()'>
      <button class='setting-option-btn reject-dibs'
      ng-click="post.rejectDibber()">
        Reject Dibs
      </button>
    </li>
    <li role="menuitem" ng-if='post.showEdit()'>
      <button class='setting-option-btn edit-item'
      ng-click="post.goToEdit()">
        Edit Item
      </button>
    </li>
    <li role="menuitem" ng-if='post.showEdit()'>
      <button class='setting-option-btn delete-item' 
      ng-click='deletePost(post.id)'>
        Delete
      </button>
    </li>
  </ul>
</div>
