<div class='content scroll-y' >
  <div ng-hide='currentUser()' class="overlay-info add-margin-top-50" >
    Please
    <a class='btn'
    ng-click="showSignin()" >Sign In</a>to view your stuff
  </div>

  <div id="chat" >
    <div class="col-lg-12 col-md-12 col-xs-12"  >
      <div class="row to_edge" ng-repeat="post in chats | orderObjectBy:'updated_at':true track by $index" >
        <mypost post='post' chat='true'></mypost>
      </div>
    </div>
  <div class="col-lg-12 col-md-12 col-xs-12" ng-class="!currentUser() ? 'overlay-active' : 'overlay-inactive' ">
  </div>
</div>
