<!DOCTYPE html>
<html>
<head>

  <title>Stuffmapper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9wZTqNMPxl86PtJuR4Dq3TzS_hByOs3U"
  type="text/javascript"></script>
  <%= stylesheet_link_tag    "application", media: "all" %>
 
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
   <base href="/"> </base>

</head>
  
  <body ng-app="stfmpr" ng-controller="MainNavCtrl as mainnav">

  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" id="inbox" class="btn btn-default" ng-show="currentUser"  ng-click="showMessages()">
                <span class="glyphicon glyphicon-envelope"  aria-hidden="true"></span>
          </button>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Stuffmapper.com</a>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <button type="button" id="inbox" class="btn btn-default" ng-show="currentUser"  ng-click="showMessages()">
                <span class="glyphicon glyphicon-envelope"  aria-hidden="true"></span>
              </button>
              
            </li>
          </ul>


        </div>

        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right">
              <li><a href='#' ng-click="showSignup()" ng-hide="currentUser">Sign Up</a></li>
              <li><a href='#' ng-click="showSignin()" ng-hide="currentUser" >Sign In</a></li>
              <li><a href='#' ng-click="showLogout()" ng-show="currentUser" >Sign Out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
 
       

        <!-- Static navbar -->


       <ng-view></ng-view>
       <alerts></alerts>



        
  <%= yield %>
   

        <!-- Main component for a primary marketing message or call to action -->

  </body>


</html>
